<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Library_Management_System.My.MySettings.lmsConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;C:\Users\User\source\repos\Library Management System\lms.accdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="Library_Management_System.My.MySettings.lmsConnectionString1"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Users\User10\source\repos\Library-Management-System\lms.accdb"
            providerName="System.Data.OleDb" />
        <add name="Library_Management_System.My.MySettings.lmsConnectionString2"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\bin\Debug\lms.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>